<div class="row">
  <div class="col-12">
    <div class="content-header">Account Settings</div>
    <p class="content-sub-header mb-1">Configure account settings to your needs.</p>
  </div>
</div>
<!-- Account Settings starts -->
<div class="row">
  <div class="col-md-3 mt-3">
    <!-- Nav tabs -->
    <ul class="nav flex-column nav-pills" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [ngClass]="{active: activeTab === 'general'}"
          (click)="setActiveTab('general')" id="general-tab" data-toggle="tab" role="tab" aria-controls="general"
          aria-selected="true">
          <i class="ft-settings mr-1 align-middle"></i>
          <span class="align-middle">General</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <!-- Tab panes -->
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="tab-content">
            <!-- General Tab -->
            <div class="tab-pane" [ngClass]="{active: activeTab === 'general'}" id="general" role="tabpanel"
              aria-labelledby="general-tab">
              <form [formGroup]="generalForm" (ngSubmit)="onGeneralFormSubmit()">
                <div class="row">
                  <div class="col-12 form-group">
                    <label for="username">Username</label>
                    <div class="controls">
                      <input type="text" formControlName="username" class="form-control" placeholder="Username"
                        [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.username.invalid, 'is-valid': generalFormSubmitted && !gf.username.invalid }"
                        required>
                      <div *ngIf="generalFormSubmitted && (gf.username.invalid || gf.username.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label for="name">Vehicle No</label>
                    <div class="controls">
                      <input type="text" formControlName="vehicleNo" class="form-control" placeholder="Vehicle No"
                        [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.vehicleNo.invalid, 'is-valid': generalFormSubmitted && !gf.vehicleNo.invalid }"
                        required>
                      <div *ngIf="generalFormSubmitted && (gf.name.invalid || gf.name.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label for="make">Make</label>
                    <div class="controls">
                      <input type="text" formControlName="make" class="form-control" placeholder="Make"
                        [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.make.invalid, 'is-valid': generalFormSubmitted && !gf.make.invalid }"
                        required>
                      <div *ngIf="generalFormSubmitted && (gf.make.invalid || gf.make.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label for="model">Model</label>
                    <div class="controls">
                      <input type="text" formControlName="model" class="form-control" placeholder="Model"
                        [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.model.invalid, 'is-valid': generalFormSubmitted && !gf.model.invalid }"
                        required>
                      <div *ngIf="generalFormSubmitted && (gf.model.invalid || gf.model.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label for="make">Year</label>
                    <div class="controls">
                      <input type="text" formControlName="year" class="form-control" placeholder="Year"
                        [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.make.invalid, 'is-valid': generalFormSubmitted && !gf.make.invalid }"
                        required>
                      <div *ngIf="generalFormSubmitted && (gf.make.invalid || gf.make.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12 form-group">
                    <label for="company">Description</label>
                    <div class="controls">
                      <input type="text" formControlName="description" class="form-control" placeholder="Description"
                        aria-invalid="false"
                        [ngClass]="{ 'is-invalid': generalFormSubmitted && gf.description.invalid, 'is-valid': generalFormSubmitted && !gf.description.invalid }"
                        required>
                      <div *ngIf="generalFormSubmitted && (gf.description.invalid || gf.description.errors?.required)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
                        required</div>
                    </div>
                  </div>
                  <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                    <button type="submit" class="btn btn-primary mr-sm-2 mb-1">Save Changes</button>
                    <button type="reset" class="btn btn-secondary mb-1">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Account Settings ends -->
