<form [formGroup]="dashboardForm">

  <div class="row match-height mb-3" formGroupName="healthCheck">
    <div class="col-xl-4 col-lg-6 col-12">
      <div class="card h-100">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">{{f.healthCheck.get('batteryPercentRemaining').value}}%</h3>
                <span>Battery Percentage</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-book-open success font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="success" [value]="f.healthCheck.get('batteryPercentRemaining').value"
              class="progress-bar-sm" height="4px"></ngb-progressbar>
            <br>
            <div class="media-body text-left">
              <span>Can cover distance in eco mode</span>
              <h3 class="mb-1 success">{{ecoRunning}} kms</h3>
            </div>
            <br>
            <div class="media-body text-left">
              <span>Can cover distance in sports mode</span>
              <h3 class="mb-1 success">{{sportsRunning}} kms</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12">
      <div class="card h-100">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">{{f.healthCheck.get('engineHealth').value}}%</h3>
                <span>Engine Health</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-message-square warning font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="warning" [value]="f.healthCheck.get('engineHealth').value" class="progress-bar-sm"
              height="4px"></ngb-progressbar>
              <br>
            <div class="media-body text-left">
              <span>Maintenance required after (kms)</span>
              <h3 class="mb-1 warning">{{engineHealthDistance}} kms</h3>
            </div>
            <br>
            <div class="media-body text-left">
              <span>Maintenance required after (days)</span>
              <h3 class="mb-1 warning">{{(engineHealthTime | number)}}</h3>
            </div>
            <!-- <br>
            <div class="media-body text-left">
              <span>isPluggedIn</span>
              <h3 class="mb-1 warning">{{f.healthCheck.get('isPluggedIn').value==true?"Yes":"NO"}}</h3>
            </div>
            <div class="media-body text-left">
              <span>Charging Status</span>
              <h3 class="mb-1 warning">{{f.healthCheck.get('status').value}}</h3>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12">
      <div class="card h-100">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">{{f.healthCheck.get('frontLeft').value}}</h3>
                <span>Tyre Air Pressure</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-trending-up primary font-large-2 float-right"></i>
              </div>
            </div>
            <span>Front Left</span>
            <ngb-progressbar type="primary" [value]="f.healthCheck.get('frontLeft').value" class="progress-bar-sm"
              height="6px" [max]="46"></ngb-progressbar>
            <span>Front Right</span>
            <ngb-progressbar type="primary" [value]="f.healthCheck.get('frontRight').value" class="progress-bar-sm"
              height="6px" [max]="46"></ngb-progressbar>
            <span>Back Left</span>
            <ngb-progressbar type="primary" [value]="f.healthCheck.get('backLeft').value" class="progress-bar-sm"
              height="6px" [max]="46"></ngb-progressbar>
            <span>Back Right</span>
            <ngb-progressbar type="primary" [value]="f.healthCheck.get('backRight').value" class="progress-bar-sm"
              height="6px" [max]="46"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">423</h3>
                <span>Total Visits</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-map-pin danger font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="danger" [value]="40" class="progress-bar-sm" height="4px"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- <section id="colored-switch">
    <div class="row" formGroupName="vehicleInfo">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Action Params</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="custom-switch custom-switch-primary custom-control-inline mb-1 mb-xl-0">
                <input type="checkbox" class="custom-control-input" id="ignitionSwitch"
                  formControlName="ignitionStatus">
                <label class="custom-control-label mr-1" for="ignitionSwitch">
                  <span>Ignition</span>
                </label>
              </div>
              <div class="custom-switch custom-switch-primary custom-control-inline mb-1 mb-xl-0">
                <input type="checkbox" class="custom-control-input" id="Flashlight" formControlName="flashlight">
                <label class="custom-control-label mr-1" for="Flashlight">
                  <span>Flashlight</span>
                </label>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <div class="row match-height">
    <div class="col-xl-4 col-lg-12" formGroupName="vehicleInfo">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <h4 class="card-title">
              <span>Lock System</span>
              <span class="float-right cursor-pointer">
                <i class="ft-more-vertical-"></i>
              </span>
            </h4>
            <p class="grey"></p>
            <ul class="list-group mb-3">
              <li class="list-group-item">
                <span>Front Left</span>
                <div class="custom-switch custom-switch-primary custom-control-inline float-right">
                  <input type="checkbox" class="custom-control-input" id="frontLeftLock" formControlName="frontLeftLock">
                  <label class="custom-control-label mr-1" for="frontLeftLock">
                  </label>
                </div>
              </li>
              <li class="list-group-item">
                <span>Front Right</span>
                <div class="custom-switch custom-switch-primary custom-control-inline float-right">
                  <input type="checkbox" class="custom-control-input" id="frontRightLock" formControlName="frontRightLock">
                  <label class="custom-control-label mr-1" for="frontRightLock">
                  </label>
                </div>
              </li>
              <li class="list-group-item">
                <span>Back Left</span>
                <div class="custom-switch custom-switch-primary custom-control-inline float-right">
                  <input type="checkbox" class="custom-control-input" id="backLeftLock" formControlName="backLeftLock">
                  <label class="custom-control-label mr-1" for="backLeftLock">
                  </label>
                </div>
              </li>
              <li class="list-group-item">
                <span>Back Right</span>
                <div class="custom-switch custom-switch-primary custom-control-inline float-right">
                  <input type="checkbox" class="custom-control-input" id="backRightLock" formControlName="backRightLock">
                  <label class="custom-control-label mr-1" for="backRightLock">
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div style="clear:both">

  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-6 col-12">
      <div class="card h-100">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">{{f.healthCheck.get('engineHealth').value}}%</h3>
                <span>Engine Health</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-message-square warning font-large-2 float-right"></i>
              </div>
            </div>
            <ngb-progressbar type="warning" [value]="f.healthCheck.get('engineHealth').value" class="progress-bar-sm"
              height="4px"></ngb-progressbar>
             
            <br>
            <div class="media-body text-left">
              <span>isPluggedIn</span>
              <h3 class="mb-1 warning">{{f.healthCheck.get('isPluggedIn').value==true?"Yes":"NO"}}</h3>
            </div>
            <div class="media-body text-left">
              <span>Charging Status</span>
              <h3 class="mb-1 warning">{{f.healthCheck.get('status').value}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</form>