<!--Statistics cards Starts-->

<div class="container-fluid">
  <div class="col-12 col-sm-6 col-md-4">
    <a [routerLink]="['/dashboard/dashboard2']" routerLinkActive="router-link-active" >
    <div class="card gradient-purple-love">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">Vehicle Health Dashboard</h3>
              <span></span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-activity font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">
				</div>
      </div>
    </div>
  </a>
  </div>
  <div class="row" (resized)="onResized($event)">
    <div class="col-12 col-sm-6 col-md-4">
      <a [routerLink]="['/dashboard/dashboard2']" routerLinkActive="router-link-active" >
      <div class="card gradient-ibiza-sunset">
        <div class="card-content">
          <div class="card-body py-0">
            <div class="media pb-1">
              <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">Safety Dashboard</h3>
              <span></span>
            </div>
            <div class="media-right white text-right">
               <i class="ft-check-circle font-large-1"></i> 
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">
				</div>
      </div>
    </div>
</a>
</div>
</div>
<div class="row" (resized)="onResized($event)">
  <div class="col-12 col-sm-6 col-md-4">
    <a [routerLink]="['/dashboard/dashboard2']" routerLinkActive="router-link-active" >
    <div class="card gradient-mint">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">Comfort Dashboard</h3>
              <span></span>
            </div>
            <div class="media-right white text-right">
              <i class="ft-sliders font-large-1"></i> 
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartshadow mb-2">

				</div>
      </div>
    </div>
  </a>
</div>
</div>
</div>  
<!--Statistics cards Ends-->
